body {
    background-color: gold;
    opacity: 8;
}

#header {
    color: blanchedalmond;
    background-color: blue;
}

.parent-box { 
    background-color: darkgreen;
    width: 800px;
    height: 210px;
            

}

.box {
    height: 200px;
    width: 200px;
    background-color: crimson;
    margin: 5px;
    float: left;
}   

.general-text {
    clear: both;
    overflow: auto;
    color: cornflowerblue;
    
}

.gen-box-text {
    background-color: hotpink;
}

.secondary-box {
    clear:both;
    margin: 5;
    overflow: auto;
    float: right;
    height: 300px;
    width: 125px;
    background-color: dodgerblue;
}

.more-text {
    clear: both;
    overflow: hidden;
    padding: 5px;
    color: #000;
}

.third-box {
    clear: both;
    overflow: hidden;
}

.red-box-text {
    padding: 5px;
    color: rgb(38, 25, 228);
}

.fourth-box {
    clear: both;
    height: 250px;
    width: 250px;
    color:purple;
    background-color: rgb(218, 145, 11);
    opacity: .8;
    padding: 3px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.fourth-box-text {
    margin: 5px;
}

.beach-box {
    clear: both;
    height: 200px;
    width: 350px;
}

#beach-pic {
    height: 350px;
    width: 500px;
}